<div class="widget">
  <div class="cover">
  </div>
  <img src="../images/profile.png" class="photo">
  <h1>Thomas Ryan - LeacOighear</h1>
  <h2>Game Developer</h2>
  <h3>I am a final year Computer Games Development student in the University of Limerick</h3>
  <h3></h3>
  <h3>The name Leac Oighear is a mis-spelling of the Irish word for ice</h3>
  <h3></h3>
  <br>
  <h3>Limerick,  Ireland</h3>
  <br>
  <br>
  <h5><a href="http://game-icons.net/lorc/originals/freedom-dove.html">Dove Image</a> by <a href="http://lorcblog.blogspot.ie/">Lorc</a></h5>
</div>
  <script src="../js/jquery_and_jqueryui.js"></script>
  <script src="../js/index.js"></script>
