<ul class="HomeBar-links">
  {% if site.homebar-links.home %}<li><a href="/"><i class="fa fa-home fa-lg" alt="Home"></i></a></li>{% endif %}
  {% if site.homebar-links.mainProjects %}<li><a href="/{{ site.homebar-links.mainProjects }}"><i class="fa fa-folder-open fa-lg" alt="Open Projects"></i></a></li>{% endif %}
  {% if site.homebar-links.otherProjects %}<li><a href="/{{ site.homebar-links.otherProjects }}"><i class="fa fa-lock fa-lg" alt="Closed Projects"></i></a></li>{% endif %}
  {% if site.homebar-links.about %}<li><a href="/{{ site.homebar-links.about }}"><i class="fa fa-info-circle fa-lg" alt="About"></i></a></li>{% endif %}
</ul>
