<div class="social">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        {% include homebar.html %}
      </div>
    </div>
  </div>
</div>

<div class="social">
  <div class="container">
    <div class="row">
	<br>
		<h2 class="marketing-header">Home to all of my other projects</h2>
	<br>
      <div class="col-sm-12">
        {% include otherProjects.html %}
      </div>
    </div>
  </div>
</div>



<div class="social">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        {% include social.html %}
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <!-- footer text here -->
  </div>
</div>
