@import url(https://fonts.googleapis.com/css?family=Nobile:400italic,700italic);
body {
  background-color: #bf737d;
  overflow: hidden; }

.card {
  position: relative;
  width: 352.5px;
  height: 500px;
  border: 10px solid #8a6e2f;
  margin: 50px auto 0 auto;
  box-shadow: inset 10px 0px 15px 0px rgba(0, 0, 0, 0.1);
  background-color: #e6f0e6; }

.card .text-container {
  width: 80%;
  height: 80%;
  margin: auto; }

.strikethrough {
  text-decoration: line-through; }

.card .text-container #head {
  font-family: 'Nobile', sans-serif;
  font-size: 1.5em;
  margin: 60px auto 60px auto; }

.card p {
  font-size: 1.1em;
  line-height: 1.4;
  font-family: 'Nobile';
  color: #331717;
  font-style: italic;
  text-align: center;
  margin: 30px auto 0px auto; }

.card .front {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: -10px 0px 0px -10px;
  border: 10px solid #8a6e2f;
  backface-visibility: hidden;
  background-color: black;
  /* background-image: url($cover-image); */
  background-size: contain;
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transform: perspective(800px) rotateY(0deg);
  transition: all 0.8s ease-in-out; }

.card:hover .front {
  transform: perspective(800px) rotateY(-170deg);
  background-color: #41718d; }

.card:hover .back {
  transform: perspective(800px) rotateY(-170deg);
  box-shadow: 7px 0px 5px 0px rgba(0, 0, 0, 0.3), inset 2px 0px 15px 0px rgba(0, 0, 0, 0.1);
  background-color: #d2dcd2; }

.card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 10px solid #8a6e2f;
  margin: -10px 0px 0px -10px;
  backface-visibility: visible;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transform: perspective(800px) rotateY(0deg);
  transition: all 0.8s ease-in-out;
  background-color: #e6f0e6;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1); }

.cover-shape-large {
  position: absolute;
  width: 65%;
  height: 48%;
  top: 25%;
  left: 18%;
  /* transform: rotateZ(45deg); */ }

.cover-shape-large .shape-block, .cover-shape-large .shape-diamond {
  background-color: #9f3751; }

.cover-shape-small {
  position: absolute;
  width: 50%;
  height: 36%;
  top: 30%;
  left: 25%; }

.shape-block {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5); }

#shape-image {
  background-image: url("http://freedesignfile.com/upload/2013/02/Birthday-cake-vector-4.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.shape-diamond {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  transform: rotateZ(45deg); }

.gold {
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%); }
  .container {
    width: 100px;
    height: 300px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    -moz-transform: scale(0.4) rotate(45deg);
    -ms-transform: scale(0.4) rotate(45deg);
    -webkit-transform: scale(0.4) rotate(45deg);
    transform: scale(0.4) rotate(45deg);
  }
  .container div {
    position: absolute;
  }
  .container .rose-petals > div {
    background: #d52d58;
    width: 45px;
    height: 80px;
    position: absolute;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  .container .rose-petals > div:nth-child(1) {
    border-radius: 15px;
    left: 20px;
    top: -6px;
    background: #d52d58;
  }
  .container .rose-petals > div:nth-child(2), .container .rose-petals > div:nth-child(4), .container .rose-petals > div:nth-child(6) {
    border-radius: 0px 30px 0px 30px;
    background: #b81b43;
    left: 0;
    transform-origin: bottom right;
  }
  .container .rose-petals > div:nth-child(3), .container .rose-petals > div:nth-child(5), .container .rose-petals > div:nth-child(7) {
    border-radius: 30px 0px 30px 0px;
    left: 40px;
    transform-origin: bottom left;
  }
  .container .rose-petals > div:nth-child(2) {
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 5;
    background: #9e183a;
    top: 10px;
    height: 70px;
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  .container .rose-petals > div:nth-child(3) {
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 4;
    background: #9e183a;
    top: 10px;
    height: 70px;
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  .container .rose-petals > div:nth-child(4) {
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 3;
    background: #b81b43;
    top: 5px;
    height: 75px;
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  .container .rose-petals > div:nth-child(5) {
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 2;
    background: #b81b43;
    top: 5px;
    height: 75px;
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  .container .rose-petals > div:nth-child(6) {
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 1;
    background: #c9204b;
    top: "";
    height: "";
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  .container .rose-petals > div:nth-child(7) {
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 0;
    background: #c9204b;
    top: "";
    height: "";
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  .container .rose-leaves > div:nth-last-child(1) {
    width: 55px;
    height: 30px;
    background: #338f37;
    position: absolute;
    top: 60px;
    left: 15px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
  }
  .container .rose-leaves > div:nth-child(1) {
    width: 6px;
    height: 230px;
    border: none;
    top: 80px;
    background: #066406;
    left: 40px;
  }
  .container .thorns > div {
    width: 30px;
    height: 30px;
    background: #066406;
    top: 100px;
    left: 10px;
  }
  .container .thorns > div:after {
    width: 41px;
    height: 31px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: white;
    content: "";
    position: absolute;
    left: -12px;
    top: 17px;
  }
  .container .thorns > div:before {
    width: 41px;
    height: 31px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: white;
    content: "";
    position: absolute;
    left: -11px;
    top: -11px;
    z-index: 0;
  }
  .container .thorns > div:nth-child(2) {
    top: 150px;
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    left: 45px;
  }
  .container .thorns > div:nth-child(3) {
    top: 180px;
  }
  .container .thorns > div:nth-child(4) {
    top: 220px;
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    left: 45px;
  }
